<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    {%load static%}
</head>
<body>
    <div class="container">
        <h1>Product List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Product ID</th>
                    <th>Available Stocks</th>
                    <th>Price</th>
                    <th>Tax Percentage</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.available_stocks }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.tax_percentage }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
